page-home {

}

img{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 20%;
}

.button{
  display: block;
  margin: auto;
}
.button2{
  position: absolute;
  margin-top: 85px;
  left: 65%;
}
.search{
  display: block;
  margin: auto;
}

.bar{
  display: block;
  margin: auto;
}